/*undistort my face
  make resume pictures format to the size of the text box
  link to goals brings to top of interests div - fix this
  */

/* General Website Style Rules */
body{
    font-family: Arial, Helvetica, sans-serif;
    /*background-image: url("...");*/
    background-color: rgb(160, 214, 214);
    padding: 4%; /*30px*/
}

a{
    color: #112d4e;
}

/*small profile photo*/
.sm-pfp-m{
    height: 150px;
    border: black solid 4px;
    border-radius: 50%;
}

.header-m{
    padding: 10px;
    padding-top: 20px;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    margin-bottom: 30px;
    font-size: 20px;
    border-radius: 20px; 
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    height: fit-content;
    box-shadow: 11px 9px 2px 1px rgba(0, 0, 255, .2);
}

.name{
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.desc{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*
.welcome .splash {
    height: 0px;
    padding: 0px;
    border: 130em solid rgb(160, 214, 214);
    position: fixed;
    left: 50%;
    top: 100%;
    display: block;
    box-sizing: initial;
    overflow: hidden;
  
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: puff 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
  /*  z-index: 12;*/
/*}

.welcome #welcome {
    background: rgba(255, 255, 255, 0.5);
    width: 56px;
    height: 56px;
    position: absolute;
    left: 50%;
    top: 50%;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.4s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards, hide 2s 2.9s ease forwards;
  /*  z-index: 14;*/
/*}

/* moveIn */
/*.welcome .navbar{
  opacity: 0;
  animation: moveIn 2s 3.1s ease forwards;
}

@keyframes init {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 4.6875vw;
    height: 4.6875vw;
    margin-top: 0px;
    opacity: 1;
  }
}

@keyframes puff {
  0% {
    top: 37vw;
    height: 0px;
    padding: 0px;
  }
  100% {
    top: 50%;
    height: 100%;
    padding: 0px 100%;
  }
}

@keyframes borderRadius {
  0% {
    border-radius: 50%;
  }
  100% {
    border-radius: 0px;
  }
}

@keyframes moveDown {
  0% {
    top: 50%;
  }
  50% {
    top: 30%;
  }
  100% {
   top: 37vw;
  }
}

@keyframes moveUp {
  0% {
    background: #111;
   top: 37vw;
  }
  100% {
    top: 15%;
    background: #111;
  }
}

@keyframes materia {
  0% {
    background: #111;
  }
  50% {
    background: #111;
    top: 43vw;
  }
  100% {
    background: #111;
    width: 91%;
    height: 4vw;
    border-top-left-radius: 1.25vw; 
    border-top-right-radius: 1.25vw; 
    border-bottom-left-radius: 1.25vw; 
    border-bottom-right-radius: 1.25vw; 
    top: 43vw;
  }
}

@keyframes moveIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} 
*/
/*include padding and border in total box size*/
*{
    box-sizing: border-box;
}

#nav_mobile{display: block;}
#nav_laptop{display: none;}

/* Style the navigation menu */
.topnav {
    position: sticky;
    top: 5px;
    overflow: hidden;
    background-color: #333;
    transition: .5s;
    margin-bottom: 10px;
    border-top-right-radius: 1.5625vw; /*20px*/
    border-bottom-right-radius: 1.5625vw; /*20px*/
    border-top-left-radius: 1.5625vw; /*20px*/
    border-bottom-left-radius: 1.5625vw; /*20px*/
    z-index: 1;
}
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    justify-content: center;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: #333;
    transition: .5s;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    transition: .5s;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: black;
    transition: .5s;
    color: white;
  }

/*.button-m{
    list-style-type: none;
    margin: 0;
    padding: 0;
    height:fit-content;
    width: 50%;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; 
    position: sticky;
    top: 2px;
    border-top-left-radius: 1.25vw; 
    border-top-right-radius: 1.25vw; 
    border-bottom-left-radius: 1.25vw; 
    border-bottom-right-radius: 1.25vw; 
    font-size: 1.9vw; 
    z-index: 2;
}*/

/*v*/

.button-m{
    justify-content: center;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 0.78125vw;
    margin: auto;
    margin-top: 5px;
    height:fit-content;
    width:fit-content;
    background-color: #333;
    transition: 0.5s;
    border-top-left-radius: 1.25vw; /*16*/
    border-top-right-radius: 1.25vw; /*16*/
    border-bottom-left-radius: 1.25vw; /*16*/
    border-bottom-right-radius: 1.25vw; /*16*/
    border: none;
    font-size: 12px;
    z-index: 1;
}

.button-m:hover{
    background-color: black;
    transition: .5s;
}

.button-m li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 0.78125vw;
}

.button-m li {
    width: 100%;
    float: left;
    height: 4vw;
}

.button-m li a:hover:not(.active) {
    background-color: #111;
    transition: .5s;
}
  
.button-m .active {
    background-color: #04AA6D;
}

.button-m ul{
    list-style-type: none;
    margin: 0;
    height:fit-content;
    width:fit-content;
    background-color: #333;
    transition: .5s;
    position: relative;
    top: 20%;
    border-top-left-radius: 1.25vw; /*16*/
    border-top-right-radius: 1.25vw; /*16*/
    border-bottom-left-radius: 1.25vw; /*16*/
    border-bottom-right-radius: 1.25vw; /*16*/
    font-size: 1.875vw;
    z-index: 1;
}

/*^*/

/*nav bar*/
/* 
li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-top: 1vw;
    padding-bottom:1vw;
}

li {
    width: 20%;
    float: left;
    height: 4vw;
}

li a:hover:not(.active) {
    background-color: #111;
}
  
.active {
    background-color: #04AA6D;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    height:4vw;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
 /*   position: sticky;
    top: 2px;
    border-top-left-radius: 1.25vw; 
    border-top-right-radius: 1.25vw; 
    border-bottom-left-radius: 1.25vw; 
    border-bottom-right-radius: 1.25vw; 
    font-size: 1.9vw; /*~ 25px*/
  /*  z-index: 20;*/
/*}*/

/*makes content smaller with more padding*/
.sec-m{
    display: none;
}

/*formats anywhere where there is writing on the left/right and a photo on the opposite side... must specify top/bottom margins and width*/

.m-box{
    background-color: rgba(208,235,235,255);
    width: 100%;
    height: fit-content;
    padding: 4%;
    border-top-right-radius: 1.5625vw; /*20px*/
    border-bottom-right-radius: 1.5625vw; /*20px*/
    border-top-left-radius: 1.5625vw; /*20px*/
    border-bottom-left-radius: 1.5625vw; /*20px*/
    margin-bottom: 20px;
    position: relative;
    box-shadow: 11px 9px 2px 1px rgba(0, 0, 255, .2);
}

.m-img-cont{
    width: 100%;
    height: 100px;
    position:relative;
    border-top-right-radius: 1.5625vw; /*20px*/
    border-bottom-right-radius: 1.5625vw; /*20px*/
    border-top-left-radius: 1.5625vw; /*20px*/
    border-bottom-left-radius: 1.5625vw; /*20px*/
}
 
.m-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 1.5625vw; /*20px*/
    border-bottom-right-radius: 1.5625vw; /*20px*/
    border-top-left-radius: 1.5625vw; /*20px*/
    border-bottom-left-radius: 1.5625vw; /*20px*/
}

.m-sh{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

.m-txt{
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0;
}

.info{
    text-align: right;
    margin:0;
}

.info-format{
    width:fit-content;
    font-size: 8px; 
    background-color: rgba(51, 51, 51, 0.75);
    color: white;
    padding: 2px 4px;
    margin-top: 5px;;
    border-top-right-radius: 1.5625vw; /*20px*/
    border-bottom-right-radius: 1.5625vw; /*20px*/
    border-top-left-radius: 1.5625vw; /*20px*/
    border-bottom-left-radius: 1.5625vw; /*20px*/
}
  
.left-txt{
    position:relative;
    background-color: rgba(208,235,235,255);
    height: fit-content; /*39.0625vw; /*500px*/
    padding: 1.5625vw; /*20px*/
    margin-top: 0; 
    margin-bottom: 0;
    margin-right:0px;
    float: left;
    border-top-left-radius: 1.5625vw; /*20px*/
    border-bottom-left-radius: 1.5625vw; /*20px*/
    box-shadow: 9px 9px 2px 1px rgba(0, 0, 255, .2);
}

.right-txt{
    position:relative;
    background-color: rgba(208,235,235,255);
    height: fit-content; /*39.0625vw; /*500px*/
    padding: 1.5625vw; /*20px*/
    margin-top: 0; 
    margin-bottom: 0;
    margin-right:0px;
    float: left;
    border-top-right-radius: 1.5625vw; /*20px*/
    border-bottom-right-radius: 1.5625vw; /*20px*/
    box-shadow: 11px 9px 2px 1px rgba(0, 0, 255, .2);
}

.bottom-txt{
    position:relative;
    background-color: rgba(208,235,235,255);
    height: fit-content; /*39.0625vw; /*500px*/
    padding: 1.5625vw; /*20px*/
    margin-top: 0; 
    margin-bottom: 0;
    float: left;
    border-bottom-left-radius: 1.5625vw; /*20px*/
    border-bottom-right-radius: 1.5625vw; /*20px*/
    box-shadow: 11px 9px 2px 1px rgba(0, 0, 255, .2);
}
  
.right-img-cont{
    position:relative;
    border-top-right-radius: 1.5625vw; /*20px*/
    border-bottom-right-radius: 1.5625vw; /*20px*/
}
 
.right-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 1.5625vw; /*20px*/
    border-bottom-right-radius: 1.5625vw; /*20px*/
}

.left-img-cont{
    position:relative;
    border-top-left-radius: 1.5625vw; /*20px*/
    border-bottom-left-radius: 1.5625vw; /*20px*/
}

.left-img{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 1.5625vw; /*20px*/
    border-bottom-left-radius: 1.5625vw; /*20px*/
}

.top-img-cont{
    position:relative;
    border-top-left-radius: 1.5625vw; /*20px*/
    border-top-right-radius: 1.5625vw; /*20px*/
    float: left;
    box-shadow: 11px 9px 2px 1px rgba(0, 0, 255, .2);
}

.top-img{
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 1.5625vw; /*20px*/
    border-top-right-radius: 1.5625vw; /*20px*/
}

/*
.about-me-photo{
    width:40%;
    height: fit-content;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0px;
    border-top-right-radius: 1.5625vw; /*20px*/
/*    border-bottom-right-radius: 1.5625vw; /*20px*/
 /*   overflow: hidden;
}

.photo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}*/


/*make 2 columns*/
/*.column-2{
    background: rgba(255, 255, 255, 0.5);
    width: 60%; /*53.125vw /*680px*/
 /*   height: fit-content; /*39.0625vw; /*500px*/
 /*   padding: 1.5625vw; /*20px*/
 /*   padding-left: 2.34375vw; /*30px*/
 /*   padding-right: 2.34375vw; /*30px*/
 /*   margin-top: 0; 
    margin-bottom: 0;
    margin-right:0px;
    float: left;
    border-top-left-radius: 1.5625vw; /*20px*/
  /*  border-bottom-left-radius: 1.5625vw; /*20px*/
/*}*/

/*center text*/
.center{
    text-align: center;
}

/*formatting for 5 headings*/
.subtitle-m{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
    /*font-feature-settings: "blwf";*/
}

/*formatting for inner about me text is the same as in the interests section*/
.txt{
    line-height: 1.5;
    margin: 0.78125vw; /*10px*/
    font-size: 1.25vw; /*16px*/
}

.skill-box{
    width: 100%;
    border-bottom-left-radius: 1.5625vw; /*20px*/
    border-bottom-right-radius: 1.5625vw; /*20px*/
    border-top-left-radius: 1.5625vw; /*20px*/
    border-top-right-radius: 1.5625vw; /*20px*/
    height: fit-content;
    background: rgba(255, 255, 255, 0.5);
    padding: 1.5625vw; /*20px*/
    margin-bottom: 2.34375vw; /*30px*/
}

.skill-col{
    padding-left: 2.2vw; 
    padding-right: 2.2vw; 
}

.resume-subtitle{
    margin-top: 0;
    margin-bottom: 0.78125vw; /*10px*/
    font-size: 1.875vw;
}

/*make the top a margin of 0*/
.no-margin-top{
    margin-top: 0.15625vw; /*2px*/
    /*font-size: 2.34375vw; /*30px*/
    font-size: 2.734375vw; /*35px*/
}

/*make the bottom a margin of 0*/
.no-margin-bottom{
    margin-bottom: 0px;
    font-size: 1.25vw; /*16px*/
}

/*make jobs text responsive*/
.jobs-txt{
    font-size: 1.25vw; /*16px*/
}

/*make photo and text box change height together*/
.row-jobs{
    margin-bottom: 2.34375vw; /*30px*/
}

/*boxes for projects section*/
.pro-box1{
    float: left;
    width: 67%; /*31.25vw; /*400px*/
    height: 100%; /*33.203125vw; /*425px*/
    padding: 0.78125vw; /*10px*/
    padding-left: 1.5625vw; /*20px*/
    padding-right: 1.5625vw; /*20px*/
    margin-left: 0px;
    margin-right: 0;
    margin-top: 0;
    border-bottom-right-radius: 1.5625vw; /*20px*/
    border-top-right-radius: 1.5625vw; /*20px*/
    background-color: rgba(255, 255, 255, 0.5);
}

.pro-box2{
    float: left;
    width: 100%;
    height: 67%; /*21.484375vw; /*275px*/
    margin-top: 0px;
    margin-left: 0.75vw;
    padding: 0.78125vw; /*10px*/
    padding-left: 1.5625vw; /*20px*/
    padding-right: 1.5625vw; /*20px*/
    border-bottom-left-radius: 1.5625vw; /*20px*/
    border-bottom-right-radius: 1.5625vw; /*20px*/
    background-color: rgba(208,235,235,255);
}

.arrow{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.arrow:hover{
    border-width: 0 5px 5px 0;
    transform: rotate(-50deg);
    -webkit-transform: rotate(-50deg);
}

/*make 3 cols NEED TO ADD appropriate padding in styles*/
.column-3{
    float: left;
    width: 33.33%;
    height: fit-content; /*42.96875vw; /*550px*/
}

/*make subheadings responsive*/
.sub-headings{
    margin-top: 0.78125vw; /*10px*/
    margin-bottom: 0.78125vw; /*10px*/
    font-size: 1.875vw;
}

/*formatting for interests pictures*/
.interests-pic{
    height: 15.625vw; /*200px*/
    width: 100%;
    margin-bottom: 0px;
    float: left;
    border-top-left-radius: 1.5625vw; /*20px*/
    border-top-right-radius: 1.5625vw; /*20px*/
    box-shadow: 9px 7px 2px 1px rgba(0, 0, 255, .2);
}

/*formatting for interests text boxes*/
.interests-box{
    height: fit-content; /*27.34375vw; /*350px*/
    width: 100%;
    margin-top: 0px;
    float: left;
    padding: 0.78125vw; /*10px*/
    border-bottom-left-radius: 1.5625vw; /*20px*/
    border-bottom-right-radius: 1.5625vw; /*20px*/
    background-color: rgba(208,235,235,255);
    box-shadow: 9px 9px 2px 1px rgba(0, 0, 255, .2);
}

.quad{
    height: fit-content; /*39.0625vw; /*500px*/
    width: 50%;
    float: left;
}

.boxes-t1{
    float: left;
    width: 100%;
    height: 67%; /*21.484375vw; /*275px*/
    margin-top: 0px;
    margin-left: 0.75vw;
    padding: 0.78125vw; /*10px*/
    border-bottom-left-radius: 1.5625vw; /*20px*/
    border-bottom-right-radius: 1.5625vw; /*20px*/
    background-color: rgba(208,235,235,255);
    box-shadow: 11px 9px 2px 1px rgba(0, 0, 255, .2);
}

.pic-t1{
    float: left;
    width: 100%;
    height: 33%; /*11.71875vw; /*150px*/
    margin-bottom: 0px;
    margin-left: 0.75vw; /*6.453px*/
    margin-right: 0.75vw; /*6.453px*/
    border-top-left-radius: 1.5625vw; /*20px*/
    border-top-right-radius: 1.5625vw; /*20px*/
    box-shadow: 11px 7px 2px 1px rgba(0, 0, 255, .2);
}

.boxes-t2{
    float: left;
    width: 67%; /*31.25vw; /*400px*/
    height: 100%; /*33.203125vw; /*425px*/
    padding: 0.78125vw; /*10px*/
    margin-top: 0;
    margin-left: 0px;
    margin-right: 0;
    border-bottom-right-radius: 1.5625vw; /*20px*/
    border-top-right-radius: 1.5625vw; /*20px*/
    background-color: rgba(208,235,235,255);
}

.pic-t2{
    float: left;
    width: 33%; /*11.71875vw; /*150px*/
    height: 100%; /*33.203125vw; /*425px*/
    margin-right: 0px;
    margin-top: 0;
    margin-bottom: 0.75vw;
    border-top-left-radius: 1.5625vw; /*20px*/
    border-bottom-left-radius: 1.5625vw; /*20px*/
}

.goals-txt{
    line-height: 2;
    padding: 1.5625vw; /*20px*/
    font-size: 1.25vw; /*16px*/
}

.heading{
    text-align: center;
    padding-top: 0px;
}

.padding-left{
    padding-left: 1.5625vw; /*20px*/
}

.padding-right{
    padding-right: 1.5625vw; /*20px*/
}

.padding-top{
    padding-top: 1.5625vw; /*20px*/
}

.padding-bottom{
    padding-bottom: 1.5625vw; /*20px*/
}

.h1 {
    display: flex;
    flex-direction: row;
}
  
.h1:before {
    margin-right: 0.78125vw; /*10px*/
    content: "";
    flex: 1 1;
    border-bottom: 0.234375vw /*3px*/ solid;
    margin: auto;
}

.h1:after {
    margin-left: 0.78125vw; /*10px*/
    content: "";
    flex: 1 1;
    border-bottom: 0.234375vw /*3px*/ solid;
    margin: auto;
}













@media only screen and (min-width: 600px){

    body{
        font-family: Arial, Helvetica, sans-serif;
        /*background-image: url("...");*/
        background-color: rgb(160, 214, 214);
        padding: 4%; /*30px*/
    }
    
    a{
        color: #112d4e;
    }
    
    /*small profile photo*/
    .sm-pfp{
        height: 15.625vw; /*200px*/
        border: black solid 0.546875vw; /*7px*/
        border-radius: 50%;
    }
    
    .header{
        padding: 3.125vw; /*40px*/
        text-align: center;
        background: rgba(255, 255, 255, 0.5);
        margin-bottom: 2.34375vw; /*30px*/
        font-size: 1.5625vw; /*20px*/
        border-radius: 1.5625vw; /*20px*/
        overflow: hidden;
        -webkit-font-smoothing: antialiased;
        height: fit-content;
        box-shadow: 11px 9px 2px 1px rgba(0, 0, 255, .2);
    }

    .name{
        font-size: 2em;
    }
    
    .desc{
        font-size: 0.83em;
    }
    /*
    .welcome .splash {
        height: 0px;
        padding: 0px;
        border: 130em solid rgb(160, 214, 214);
        position: fixed;
        left: 50%;
        top: 100%;
        display: block;
        box-sizing: initial;
        overflow: hidden;
      
        border-radius: 50%;
        transform: translate(-50%, -50%);
        animation: puff 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
        z-index: 1;
    }
    
    .welcome #welcome {
        background: rgba(255, 255, 255, 0.5);
        width: 56px;
        height: 56px;
        position: absolute;
        left: 50%;
        top: 50%;
        overflow: hidden;
        opacity: 0;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.4s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards, hide 2s 2.9s ease forwards;
        z-index: 2;
    }
    
    /* moveIn */
   /* .welcome .navbar{
      opacity: 0;
      animation: moveIn 2s 3.1s ease forwards;
    }
    
    @keyframes init {
      0% {
        width: 0px;
        height: 0px;
      }
      100% {
        width: 4.6875vw;
        height: 4.6875vw;
        margin-top: 0px;
        opacity: 1;
      }
    }
    
    @keyframes puff {
      0% {
        top: 37vw;
        height: 0px;
        padding: 0px;
      }
      100% {
        top: 50%;
        height: 100%;
        padding: 0px 100%;
      }
    }
    
    @keyframes borderRadius {
      0% {
        border-radius: 50%;
      }
      100% {
        border-radius: 0px;
      }
    }
    
    @keyframes moveDown {
      0% {
        top: 50%;
      }
      50% {
        top: 30%;
      }
      100% {
       top: 37vw;
      }
    }
    
    @keyframes moveUp {
      0% {
        background: #111;
       top: 37vw;
      }
      100% {
        top: 15%;
        background: #111;
      }
    }
    
    @keyframes materia {
      0% {
        background: #111;
      }
      50% {
        background: #111;
        top: 43vw;
      }
      100% {
        background: #111;
        width: 91%;
        height: 4vw;
        border-top-left-radius: 1.25vw; 
        border-top-right-radius: 1.25vw; 
        border-bottom-left-radius: 1.25vw; 
        border-bottom-right-radius: 1.25vw; 
        top: 43vw;
      }
    }
    
    @keyframes moveIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    
    @keyframes hide {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    } 
    */
    /*include padding and border in total box size*/
    *{
        box-sizing: border-box;
    }

    #nav_mobile{display: none;}
    #nav_laptop{display: block;}
    
    /*nav bar*/
      
    li a {
        display: block;
        color: white;
        text-align: center;
        text-decoration: none;
        padding-top: 1vw;
        padding-bottom:1vw;
    }
    
    li {
        width: 20%;
        float: left;
        height: 4vw;
    }
    
    li a:hover:not(.active) {
        background-color: #111;
        transition: .5s;
    }
      
    .active {
        background-color: #04AA6D;
    }
    
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        height:4vw;
        overflow: hidden;
        background-color: #333;
        transition: .5s;
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 2px;
        border-top-left-radius: 1.25vw; /*16*/
        border-top-right-radius: 1.25vw; /*16*/
        border-bottom-left-radius: 1.25vw; /*16*/
        border-bottom-right-radius: 1.25vw; /*16*/
        font-size: 1.9vw; /*~ 25px*/
        z-index: 2;
    }

    /*v*/

    .skill-box li a {
        display: block;
        color: white;
        text-align: center;
        text-decoration: none;
        padding: 0.78125vw;
    }
    
    .skill-box li {
        width: 100%;
        float: left;
        height: 4vw;
    }
    
    .skill-box li a:hover:not(.active) {
        background-color: #111;
        transition: .5s;
    }
      
    .skill-box .active {
        background-color: #04AA6D;
    }
    
    .skill-box ul{
        float: right;
        list-style-type: none;
        margin: 0;
        height:fit-content;
        width:fit-content;
        background-color: #333;
        transition: .5s;
        position: relative;
        top: 20%;
        border-top-left-radius: 1.25vw; /*16*/
        border-top-right-radius: 1.25vw; /*16*/
        border-bottom-left-radius: 1.25vw; /*16*/
        border-bottom-right-radius: 1.25vw; /*16*/
        font-size: 1.875vw;
        z-index: 1;
    }

    /*^*/
    
    .button{
        justify-content: center;
        display: block;
        position: absolute;
        top: 50%;
        color: white;
        text-align: center;
        text-decoration: none;
        padding: 0.78125vw;
        margin: auto;
        height:fit-content;
        width:fit-content;
        background-color: #333;
        transition: .5s;
        border-top-left-radius: 1.25vw; /*16*/
        border-top-right-radius: 1.25vw; /*16*/
        border-bottom-left-radius: 1.25vw; /*16*/
        border-bottom-right-radius: 1.25vw; /*16*/
        border: none;
        font-size: 12px;
        z-index: 1;
    }

    /*makes content smaller with more padding*/
    .sec{
        padding-left: 3vw; 
        padding-right: 3vw;
        display:block;
    }

    .m-box{
        display: none;
    }
    
    /*formats anywhere where there is writing on the left/right and a photo on the opposite side... must specify top/bottom margins and width*/
    
    .main{
        display: flex;
        position: relative;
        width: 100%;
    }
      
    .left-txt{
        position:relative;
        background-color: rgba(208,235,235,255);
        height: fit-content; /*39.0625vw; /*500px*/
        padding: 1.5625vw; /*20px*/
        margin-top: 0; 
        margin-bottom: 0;
        margin-right:0px;
        float: left;
        border-top-left-radius: 1.5625vw; /*20px*/
        border-bottom-left-radius: 1.5625vw; /*20px*/
    }
    
    .right-txt{
        position:relative;
        background-color: rgba(208,235,235,255);
        height: fit-content; /*39.0625vw; /*500px*/
        padding: 1.5625vw; /*20px*/
        margin-top: 0; 
        margin-bottom: 0;
        margin-right:0px;
        float: left;
        border-top-right-radius: 1.5625vw; /*20px*/
        border-bottom-right-radius: 1.5625vw; /*20px*/
    }
    
    .bottom-txt{
        position:relative;
        background-color: rgba(208,235,235,255);
        height: fit-content; /*39.0625vw; /*500px*/
        padding: 1.5625vw; /*20px*/
        margin-top: 0; 
        margin-bottom: 0;
        float: left;
        border-bottom-left-radius: 1.5625vw; /*20px*/
        border-bottom-right-radius: 1.5625vw; /*20px*/
        box-shadow: 9px 9px 2px 1px rgba(0, 0, 255, .2);
    }
      
    .right-img-cont{
        position:relative;
        border-top-right-radius: 1.5625vw; /*20px*/
        border-bottom-right-radius: 1.5625vw; /*20px*/
        box-shadow: 11px 9px 2px 1px rgba(0, 0, 255, .2);
    }
     
    .right-img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-right-radius: 1.5625vw; /*20px*/
        border-bottom-right-radius: 1.5625vw; /*20px*/
    }
    
    .left-img-cont{
        position:relative;
        border-top-left-radius: 1.5625vw; /*20px*/
        border-bottom-left-radius: 1.5625vw; /*20px*/
        box-shadow: 9px 9px 2px 1px rgba(0, 0, 255, .2);
    }
    
    .left-img{
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 1.5625vw; /*20px*/
        border-bottom-left-radius: 1.5625vw; /*20px*/
    }
    
    .top-img-cont{
        position:relative;
        border-top-left-radius: 1.5625vw; /*20px*/
        border-top-right-radius: 1.5625vw; /*20px*/
        float: left;
        box-shadow: 9px 9px 2px 1px rgba(0, 0, 255, .2);
    }
    
    .top-img{
        position: relative;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 1.5625vw; /*20px*/
        border-top-right-radius: 1.5625vw; /*20px*/
    }
    
    /*
    .about-me-photo{
        width:40%;
        height: fit-content;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0px;
        border-top-right-radius: 1.5625vw; /*20px*/
    /*    border-bottom-right-radius: 1.5625vw; /*20px*/
     /*   overflow: hidden;
    }
    
    .photo{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }*/
    
    
    /*make 2 columns*/
    /*.column-2{
        background: rgba(255, 255, 255, 0.5);
        width: 60%; /*53.125vw /*680px*/
     /*   height: fit-content; /*39.0625vw; /*500px*/
     /*   padding: 1.5625vw; /*20px*/
     /*   padding-left: 2.34375vw; /*30px*/
     /*   padding-right: 2.34375vw; /*30px*/
     /*   margin-top: 0; 
        margin-bottom: 0;
        margin-right:0px;
        float: left;
        border-top-left-radius: 1.5625vw; /*20px*/
      /*  border-bottom-left-radius: 1.5625vw; /*20px*/
    /*}*/
    
    /*center text*/
    .center{
        text-align: center;
    }
    
    /*formatting for 5 headings*/
    .subtitle{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 3.90625vw; /*50px*/
        /*font-feature-settings: "blwf";*/
    }
    
    /*formatting for inner about me text is the same as in the interests section*/
    .txt{
        line-height: 1.5;
        margin: 0.78125vw; /*10px*/
        font-size:1.25vw; /*16px*/
    }

    .skill-box{
        width: 100%;
        border-bottom-left-radius: 1.5625vw; /*20px*/
        border-bottom-right-radius: 1.5625vw; /*20px*/
        border-top-left-radius: 1.5625vw; /*20px*/
        border-top-right-radius: 1.5625vw; /*20px*/
        height: fit-content;
        justify-content: space-evenly;
        background: rgba(255, 255, 255, 0.5);
        padding: 1.5625vw; /*20px*/
        margin-bottom: 2.34375vw; /*30px*/
        z-index: -3;
        box-shadow: 11px 9px 2px 1px rgba(0, 0, 255, .2);
    }
    
    .skill-col{
        padding-left: 2.2vw; 
        padding-right: 2.2vw; 
    }
    
    .resume-subtitle{
        margin-top: 0;
        margin-bottom: 0.78125vw; /*10px*/
        font-size: 1.875vw; /*24px*/
    }
    
    /*make the top a margin of 0*/
    .no-margin-top{
        margin-top: 0.15625vw; /*2px*/
        /*font-size: 2.34375vw; /*30px*/
        font-size: 2.734375vw; /*35px*/
    }
    
    /*make the bottom a margin of 0*/
    .no-margin-bottom{
        margin-bottom: 0px;
        font-size: 1.25vw /*16px*/
    }
    
    /*make jobs text responsive*/
    .jobs-txt{
        font-size: 1.25vw; /*16px*/
    }
    
    /*make photo and text box change height together*/
    .row-jobs{
        display: flex;
        margin-bottom: 2.34375vw; /*30px*/
    }
    
    /*boxes for projects section*/
    .pro-box1{
        float: left;
        width: 67%; /*31.25vw; /*400px*/
        height: 100%; /*33.203125vw; /*425px*/
        padding: 0.78125vw; /*10px*/
        padding-left: 1.5625vw; /*20px*/
        padding-right: 1.5625vw; /*20px*/
        margin-left: 0px;
        margin-right: 0;
        margin-top: 0;
        border-bottom-right-radius: 1.5625vw; /*20px*/
        border-top-right-radius: 1.5625vw; /*20px*/
        background-color: rgba(208,235,235,255);
    }
    
    .pro-box2{
        float: left;
        width: 100%;
        height: 67%; /*21.484375vw; /*275px*/
        margin-top: 0px;
        margin-left: 0.75vw;
        padding: 0.78125vw; /*10px*/
        padding-left: 1.5625vw; /*20px*/
        padding-right: 1.5625vw; /*20px*/
        border-bottom-left-radius: 1.5625vw; /*20px*/
        border-bottom-right-radius: 1.5625vw; /*20px*/
        background-color: rgba(208,235,235,255);
        box-shadow: 11px 9px 2px 1px rgba(0, 0, 255, .2);
    }
    
    /*make 3 cols NEED TO ADD appropriate padding in styles*/
    .column-3{
        float: left;
        width: 33.33%;
        height: fit-content; /*42.96875vw; /*550px*/
    }
    
    /*make subheadings responsive*/
    .sub-headings{
        margin-top: 0.78125vw; /*10px*/
        margin-bottom: 0.78125vw; /*10px*/
        font-size: 1.875vw; /*24px*/
    }
    
    /*formatting for interests pictures*/
    .interests-pic{
        height: 15.625vw; /*200px*/
        width: 100%;
        margin-bottom: 0px;
        float: left;
        border-top-left-radius: 1.5625vw; /*20px*/
        border-top-right-radius: 1.5625vw; /*20px*/
    }
    
    /*formatting for interests text boxes*/
    .interests-box{
        height: fit-content; /*27.34375vw; /*350px*/
        width: 100%;
        margin-top: 0px;
        float: left;
        padding: 0.78125vw; /*10px*/
        border-bottom-left-radius: 1.5625vw; /*20px*/
        border-bottom-right-radius: 1.5625vw; /*20px*/
        background-color: rgba(208,235,235,255);
    }
    
    .quad{
        height: fit-content; /*39.0625vw; /*500px*/
        width: 50%;
        float: left;
    }
    
    .boxes-t1{
        float: left;
        width: 100%;
        height: 67%; /*21.484375vw; /*275px*/
        margin-top: 0px;
        margin-left: 0.75vw;
        padding: 0.78125vw; /*10px*/
        border-bottom-left-radius: 1.5625vw; /*20px*/
        border-bottom-right-radius: 1.5625vw; /*20px*/
        background-color: rgba(208,235,235,255);
    }
    
    .pic-t1{
        float: left;
        width: 100%;
        height: 33%; /*11.71875vw; /*150px*/
        margin-bottom: 0px;
        margin-left: 0.75vw; /*6.453px*/
        margin-right: 0.75vw; /*6.453px*/
        border-top-left-radius: 1.5625vw; /*20px*/
        border-top-right-radius: 1.5625vw; /*20px*/
    }
    
    .boxes-t2{
        float: left;
        width: 67%; /*31.25vw; /*400px*/
        height: 100%; /*33.203125vw; /*425px*/
        padding: 0.78125vw; /*10px*/
        margin-top: 0;
        margin-left: 0px;
        margin-right: 0;
        border-bottom-right-radius: 1.5625vw; /*20px*/
        border-top-right-radius: 1.5625vw; /*20px*/
        background-color: rgba(208,235,235,255);
    }
    
    .pic-t2{
        float: left;
        width: 33%; /*11.71875vw; /*150px*/
        height: 100%; /*33.203125vw; /*425px*/
        margin-right: 0px;
        margin-top: 0;
        margin-bottom: 0.75vw;
        border-top-left-radius: 1.5625vw; /*20px*/
        border-bottom-left-radius: 1.5625vw; /*20px*/
    }
    
    .goals-txt{
        line-height: 2;
        padding: 1.5625vw; /*20px*/
        font-size: 1.25vw; /*16px*/
    }
    
    .heading{
        text-align: center;
        padding-top: 0px;
    }
    
    .padding-left{
        padding-left: 1.5625vw; /*20px*/
    }
    
    .padding-right{
        padding-right: 1.5625vw; /*20px*/
    }
    
    .padding-top{
        padding-top: 1.5625vw; /*20px*/
    }
    
    .padding-bottom{
        padding-bottom: 1.5625vw; /*20px*/
    }
    
    .h1 {
        display: flex;
        flex-direction: row;
    }
      
    .h1:before {
        margin-right: 0.78125vw; /*10px*/
        content: "";
        flex: 1 1;
        border-bottom: 0.234375vw /*3px*/ solid;
        margin: auto;
    }
    
    .h1:after {
        margin-left: 0.78125vw; /*10px*/
        content: "";
        flex: 1 1;
        border-bottom: 0.234375vw /*3px*/ solid;
        margin: auto;
    }
    
}
